@import "tailwindcss";

@theme {
    --font-coiny: "Coiny", system-ui;
    --font-montserrat: "Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;

    --coral-blue: #a8edea;
    --faint-pink: #fed6e3;
}